.menu-home {
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../../assets/svg/logomenu.svg');
    background-repeat: no-repeat;
    height: 80px;
    padding-left: 60px;
    padding-top: 32px;
    margin-top: -7px;
    .nombre-banda{
        font-weight: 700;
        font-size: 40px;
        line-height: 30px;
        letter-spacing: 0.2em;
    }
    .sub-title{
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.2em;
    }
}